.reveiws-container__reveiw {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 1rem;
  background-color: var(--color-form);
  padding: 1rem;
}

.reveiws-container__reveiw-title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.reveiws-container__reveiw-text h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: var(--color-text);
}

.reveiws-container__reveiw-text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
}

.review-contrainer__review-name {
  margin-bottom: 0.75rem;
}

.review-contrainer__review-content {
  margin-bottom: 0.5rem;
}

.review-contrainer__review-date p {
  font-size: 11px;
}

@media screen and (max-width: 550px) {
  .reveiws-container__reveiw-title h1 {
    font-size: 14px;
    line-height: 22px;
  }

  .reveiws-container_reveiw-text p {
    font-size: 12px;
    line-height: 20px;
  }

  .reveiws-container__reveiw {
    margin: 1rem 0;
  }
}
